@import './vars.scss';

.game {
    margin: auto;
}

.microphoneInput {
    margin: 10px auto;
    width: $board-size;
    height: $dashboard-size;

    @media screen and (max-width: $screen-sm-min) {
        width: $board-size-mobile;
    }

    &-button{
        display: inline-block;
        width: $board-size;
        
        @media screen and (max-width: $screen-sm-min) {
            width: $board-size-mobile;
        }
    }
}

.audioVisualizer {
    width: $board-size;
    display: inline-block;
    float: right;

    @media screen and (max-width: $screen-sm-min) {
        width: $board-size-mobile;
    }
}

.tilesBoard {
    margin: 10px auto;
    padding: 5px;
    width: $board-size;
    vertical-align: middle;
    height: $board-size;
    position: relative;
    border-radius: 10px;
    background: #bbada0;
    
    @media screen and (max-width: $screen-sm-min) {
        width: $board-size-mobile;
        height: $board-size-mobile;
    }
}

.tile {
    width: $tile-size;
    height: $tile-size;
    margin: $tile-margin;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: $tile-size;
    font-size: $tile-size / 2;
    color: #f9f6f2;
    border-radius: 10px;
    background: rgba(238, 228, 218, 0.35);

    @media screen and (max-width: $screen-sm-min) {
        width: $tile-size-mobile;
        height: $tile-size-mobile;
        line-height: $tile-size-mobile;
        font-size: $tile-size-mobile / 2;
    }
}

.tile-2 {
    color: #776e65;
    background: #eee4da;
}

.tile-4 {
    color: #776e65;
    background: hsl(39, 52%, 86%);
}

.tile-8 {
    background: hsl(28, 82%, 71%);
}

.tile-16 {
    background: hsl(21, 88%, 67%);
}

.tile-32 {
    background: #f67c5f;
}

.tile-64 {
    background: #f65e3b;
}

.tile-128 {
    background: #edcf72;
}

.tile-256 {
    background: #edcc61;
}

.tile-512 {
    background: #edc850;
}

.tile-1024 {
    background: #edc53f;
    font-size: $tile-size / 3;

    @media screen and (max-width: $screen-sm-min) {
        font-size: $tile-size-mobile / 3;
    }
}

.tile-2048 {
    background: #edc22e;
    font-size: $tile-size / 3;

    @media screen and (max-width: $screen-sm-min) {
        font-size: $tile-size-mobile / 3;
    }
}

.tile-4096 {
    background: #3c3a32;
    font-size: $tile-size / 3;

    @media screen and (max-width: $screen-sm-min) {
        font-size: $tile-size-mobile / 3;
    }
}
