@import './vars.scss';

body {
    font-family: Arial, sans-serif;
    background: #faf8ef;
}

.gameMessage {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    background: rgba(255, 255, 255, 0.70);
    z-index: 100;

    h2 {
        color: $color-text-dark;
        margin: 20px auto;
    }

    .resetButton {
        margin: auto;
        float: initial;
    }
}